.gradient-bg-180 {
  background: linear-gradient(180deg, #d4d0f1 25%, #ffffff 50%);
  min-height: 100vh;
}

.gradient-bg-270 {
  background: linear-gradient(270deg, #ffffff 0%, #d4d0f1 50%, #ffffff 100%);
  min-height: 100vh;
}
.gradient-bg-270-reverse {
  background: linear-gradient(270deg, #d4d0f1 0%, #ffffff 50%, #d4d0f1 100%);
  min-height: 100vh;
}

.gradient-bg-135 {
  background: linear-gradient(135deg, #d4d0f1 25%, #ffffff 50%);
  min-height: 100vh;
}

.gradient-bg-225 {
  background: linear-gradient(225deg, #d4d0f1 25%, #ffffff 50%);
  min-height: 100vh;
}

.gradient-bg-0 {
  background: linear-gradient(0deg, #d4d0f1 25%, #ffffff 50%);
  min-height: 100vh;
}

.gradient-bg-logo {
  background: linear-gradient(62deg, #e0c3fc 0%, #a1d5ff 50%, #b690d9 100%);
}
